.box {
	display: block;
	width: 655px;
	height: 500px;
	margin: auto;
	margin-top: 40px;
	position: relative;
	z-index: 10;
}

.top-section-upper {
	position: absolute;
	width: 70%;
	height: 25%;
	top: 5%;
	left: 15%;
	background: #008AAE;
	border: solid 6px #18464b;
	border-radius: 12px 12px 40px 40px;
	overflow: hidden;
	z-index: 10;
}

.left-light {
	position: absolute;
	width: 5%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.15);
}

.right-shadow {
	position: absolute;
	width: 5%;
	height: 100%;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.1);
}

.dial {
	position: absolute;
	width: 12%;
	height: 48%;
	left: 44%;
	top: 25%;
	border-radius: 50%;
	background: #18464b;
}

.dial-inner {
	background: #fff;
	border-radius: 50%;
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

.indicator {
	position: absolute;
	width: 20%;
	height: 20%;
	background: #18464b;
	border-radius: 50%;
	left: 40%;
	top: 40%;
	transform: rotate(-50deg);
	transition: transform 0.3s ease-out;
}

.indicator::after {
	content: "";
	position: absolute;
	background: #18464b;
	height: 180%;
	width: 50%;
	border-radius: 50px;
	bottom: 20%;
	left: 25%;
}

.button {
	position: absolute;
	height: 10%;
	width: 5%;
	background: pink;
	right: 12%;
	top: 10%;
	z-index: 8;
	background: #BA6A4D;
	border: solid 6px #18464b;
	border-radius: 12px;
	transition: all ease 0.3s;
}

.top-section-lower {
	position: absolute;
	width: 60%;
	height: 5%;
	background: #DDDDDD;
	border: solid 6px #18464b;
	border-radius: 0 0 20px 20px;
	z-index: 8;
	top: 29%;
	left: 20%;
}

.middle-section {
	position: absolute;
	width: 50%;
	height: 41%;
	background: #00B7E7;
	border: solid 6px #18464b;
	z-index: 6;
	left: 25%;
	top: 33%;
}

.dispenser {
	position: absolute;
	left: 38%;
	width: 20%;
	height: 25%;
	background: #DDDDDD;
	border: solid 6px #18464b;
	border-radius: 0 0 20px 20px;
}

.dispenser::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	border-bottom: solid 6px #18464b;
	background: #009CC4;
}

.dispenser .handle {
	position: absolute;
	width: 100%;
	height: 50%;
	background: #BA6A4D;
	border: solid 6px #18464b;
	z-index: 10;
	right: 100%;
	top: 20%;
	border-radius: 50px 0 0 50px;
	z-index: 1px;
}

.dispenser .left-light, .dispenser .right-shadow {
	width: 20%;
}

.dispenser .left-light {
	border-radius: 0 0 0 12px;
	background: rgba(255,255,255,0.4);
}

.dispenser .right-shadow {
	border-radius: 0 0 12px 0;
}

.spout {
	position: absolute;
	width: 75%;
	left: 12%;
	height: 50%;
	top: 100%;
	background: pink;
	background: #DDDDDD;
	border: solid 6px #18464b;
	border-radius: 0 0 5px 5px;
	z-index: 10;
}

.spout::after {
	content: "";
	position: absolute;
	width: 42%;
	height: 100%;
	top: 100%;
	left: 10%;
	background: #DDDDDD;
	border: solid 6px #18464b;
	border-radius: 0 0 5px 5px;
	z-index: 10;
}

.coffee-cup {
	position: absolute;
	left: 38.5%;
	width: 20%;
	height: 35%;
	bottom: -3%;
	background: #FF2F8B;
	border: solid 6px #18464b;
	border-radius: 10px 10px 20px 20px;
	z-index: 10;
}

.coffee-cup::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 20%;
	top: 0;
	left: 0;
	background: #FFA4CA;
	border-bottom: solid 6px #18464b;
}

.coffee-cup::after {
	content: "";
	position: absolute;
	right: -39%;
	width: 20%;
	height: 45%;
	top: 20%;
	border: solid 6px #18464b;
	border-radius: 0 10px 10px 0;
}

.coffee-cup .left-light, .coffee-cup .right-shadow {
	width: 15%;
}

.coffee-cup .left-light {
	border-radius: 0 0 0 12px;
}

.coffee-cup .right-shadow {
	border-radius: 0 0 12px 0;
}

.steam-left {
	width: 11%;
	height: 30%;
	position: absolute;
	left: 15%;
	background: #D4D5D8;
	top: -45%;
	border-radius: 50px;
	opacity: 0;
	transition: all ease 0.3s;
	animation-delay: 0.6s!important;
}

.steam-right {
	width: 10%;
	height: 30%;
	position: absolute;
	right: 20%;
	background: #D4D5D8;
	top: -35%;
	border-radius: 50px;
	transition: all ease 0.3s;
	opacity: 0;
	animation-delay: 0.8s!important;
}

.base {
	position: absolute;
	width: 70%;
	height: 15%;
	bottom: 12%;
	left: 15%;
	background: #008AAE;
	border: solid 6px #18464b;
	border-radius: 12px 12px 0px 0px;
	overflow: hidden;
	z-index: 10;
}

.base::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	background: #DDDDDD;
	border-bottom: solid 6px #18464b;
}

.counter {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 12%;
	left: 0;
	background: #00B7E7;
	border-bottom: solid 6px #18464b;
	border-radius: 50px;
	overflow: hidden;
	z-index: 10;
}

.coffee {
	width: 22%;
	position: absolute;
	left: 40%;
	background: #5C3325;
	top: 100%;
	bottom: 0%;
	border-radius: 50px;
	z-index: 1;
	transition: all ease 0.3s;
}

/* --- ANIMATION -- */

.machine.active .button {
	right: 13%;
}

.machine.active .indicator {
	animation: heatUp 13.3s ease 1 forwards;
}

.machine.active .steam-left, .machine.active .steam-right {
	animation: steam 1s linear 4 forwards;
}

.machine.active .coffee {
	animation: pourCoffee 13s linear 1 forwards;
}

/* --- KEYFRAMES --- */

@keyframes heatUp {
	0% {
		transform: rotate(-50deg);
	}

	10% {
		transform: rotate(50deg);
	}

	30% {
		transform: rotate(20deg);
	}

	40% {
		transform: rotate(50deg);
	}

	60% {
		transform: rotate(10deg);
	}

	70% {
		transform: rotate(50deg);
	}

	100% {
		transform: rotate(-50deg);
	}
}

@keyframes steam {
	0%, 10% {
		opacity: 0;
		transform: translateY(0);
	}

	50% {
		opacity: 1;
		transform: translateY(-10px);
	}

	90%, 100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

@keyframes pourCoffee {
	0% {
		top: 100%;
		bottom: 0%;
	}

	6%, 94% {
		top: 100%;
		bottom: -300%;
	}

	100% {
		top: 100%;
		bottom: 0%;
	}
}
