.container {
  position: relative;

  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 36px;

  color: #fff;
  border-radius: 3px;
  background: #4CAF50;
}

.quiz--container, .container {
  margin-top: -25px;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;

  text-align: center;
}

.result--empty {
  width: 600px;
}

.coffee--item {
  margin: 10px 20px;
}

.result--button {
  position: absolute;
  bottom: 40px;
  left: 35%;
}


/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;

  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #64ef9c;
}

.radioCustomButton {
  position: absolute;

  width: auto;

  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;
}

.radioCustomLabel {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;

  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  line-height: 1;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;

  display: inline-block;

  width: 28px;
  height: 28px;

  content: '';
  transition: all 0.3s;
  vertical-align: middle;

  border: 1px solid #bbb;
  border-radius: 50%;
  background: #fff;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';

  border-color: #8BC53F;
  background: #8BC53F url(../svg/icon-check.svg) no-repeat;
  background-size: 27px;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  transition: opacity 0.5s ease-in-out 0.3s;

  opacity: 1;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  opacity: 1;
}

.fade-leave.fade-leave-active {
  transition: opacity 0.5s ease-in-out;

  opacity: 0;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  transition: opacity 0.5s ease-in-out;

  opacity: 1;
}
